<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name" content="{{ site.title }}" />
    {% if page.layout == "post" %}
    <meta property="og:type" content="article" />
    <meta property="og:article:published_time" content="{{ page.date }}" />
    <meta property="og:article:author" content="{{ site.author }}" />
    <meta property="og:article:tag" content="{{ page.tags | join: ", " }}" />
    {% else %}
    <meta property="og:type" content="website" />
    {% endif %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta name="twitter:card" content="{{ site.title }}" />
    <meta name="twitter:title" content="{{ site.title }}" />
    <meta name="twitter:username" content="{{ site.username }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:url" content="{{ site.url }}" />
    {% if site.twitter_username != false %}
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    {% endif %}

    {% if site.author != false %}
    <meta name="author" content="{{ site.author }}">
    {% endif %}

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=6945mbRr6A">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=6945mbRr6A">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=6945mbRr6A">
    <link rel="manifest" href="/manifest.json?v=6945mbRr6A">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=6945mbRr6A" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=6945mbRr6A">
    <meta name="theme-color" content="#ffffff">


    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monofett|PT+Mono|PT+Sans|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>