<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>

    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="/img/me_circled.png" alt="Vardan Pogosian">
        </div>

        <div class="col-md-8">
            <div class="bio">            
                <p>My name is Vardan Pogosian. I am a software developer and IT consultant living in Moscow. I am doing a lot of backend stuff and a little bit of DevOps. Also I am managing a small group of developers on a daily basis as a team lead.

                Love coding on Go, Ruby and JS.

                I contributing to several OpenSource projects: <a href="https://github.com/varp/SublimeText-Nodejs">Nodejs plugin for SublimeText 3</a>, <a href="https://github.com/varp/pgweb">pgweb</a> - PostgreSQL web interface and several other pinned to my <a href="https://github.com/varp">GitHub Profile</a>

                Here is my email to get in touch: me (at) vardan.pro</p>
            </div>
        </div>
    </div>

  </div>
</div>