<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    <div class="container">
      
        <header class="header clearfix">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="site-name"><a href="/">{{ site.title }}</a></h3>
                </div>
                <div class="col-md-6">
                    <h4 clsss="site-profile">{{ site.profile }}</h4>
                </div>
                <div class="col-md-2">                
                    <div class="site-social">
                        {% if site.vkontakte_username %}
                        <a href="https://vk.com/{{ site.vkontakte_username }}"><img src="/img/vkontakte.svg"></a>
                        {% endif %}
                        {% if site.github_username %}
                        <a href="https://github.com/{{ site.github_username }}"><img src="/img/github.svg"></a>
                        {% endif %}
                        {% if site.twitter_username %}
                        <a href="https://twitter.com/{{ site.twitter_username }}"><img src="/img/twitter.svg"></a>
                        {% endif %}
                        {% if site.instagram_username %}
                        <a href="https://instagram.com/{{ site.instagram_username }}"><img src="/img/instagram.svg"></a>
                        {% endif %}
                    </div>                
                </div>
            </div>
        </header>

        <main role="main">

            {{ content }}

        </main>

    {% include footer.html %}
        
    </body>
    
{% include foot.html %}