<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    <div class="container">

        <header class="header clearfix">
            <div class="row">
                <div class="col-md-4">
                    <a href="/"><img src="/img/vardan_pro_corr.png" title="{{ site.title }}" class="site-logo"></a>
                </div>
                <div class="col-md-8">
                    <h3 class="site-profile">{{ site.profile }}</h3>
                </div>
            </div>
        </header>

        <main role="main">

            {{ content }}

        </main>

    {% include footer.html %}

    </body>

{% include foot.html %}
