---
layout: default.html
---

{% include "../_include/jumborton.html" %}

<div class="container">
    {% for post in site.posts %}
        <div class="row post-list">
            {% assign date_format = site.vardanpro.date_format | default: "%d.%m.%Y" %}
            <h2 class="post-title">{{ post.title | escape }}&nbsp;<span>{{ post.date | date: date_format }}</span></h2>

            {% assign post_column_size = "col-md-9" %}

            {% if post.image %}
                {% assign post_column_size = "col-md-12" %}
                <div class="col-md-3 xs-hidden">
                    <img class="post-image" src="{{ post.image }}"></img>
                </div>
            {% endif %}

            <div class="{{ post_column_size }} col-xs-12">
                {{ post.content | truncatewords: 30 }}
            </div>
        </div>
    {% endfor %}
</div>